<a href="https://colab.research.google.com/github/MichaelPaul03/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Fundamentals of Python

In [ ]:
if 5 < 2:
  print(Yes)

In [ ]:
x = "Sally"

a = 0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)

Sally
0
1
2

In [ ]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

In [ ]:
#y = "Ana"
#print(y)

y = "Ana"
print(y)

Ana

Multiple Variable with one value

In [ ]:
#x = "Tony"
k=l=m="Tony"
print(k)
print(l)
print(m)
print(k,l,m)

Tony
Tony
Tony
Tony Tony Tony

In [ ]:
print("Python programming is enjoying")

h = "enjoying"
p ="Python programming is"
print("Python programming is "+ h)
print(p+" "+h)

Python programming is enjoying
Python programming is enjoying
Python programming is enjoying

Arithmetic Operations

In [ ]:
print(c+d) #c=2, d=4
print(d-c)
print(d*c)
print(d/c)
print(d%c)

6
2
8
2.0
0

Assignment Operators

In [ ]:
q=10
print(q+5)

print(q)

15
10

Boolean Logic

In [ ]:
s = 10
print(s^2)
print(s|2)

8
10

Comparison Operators

In [ ]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [ ]:
s>q and s==s
s>q or s==s

print(s>q and s==s)
print(s>q or s==s)

False
True

Identity Operators

In [ ]:
s is q
print(s is not q)

False

Bitwise Operator Shift right

In [68]:
u = 2
print(u<<1)

4