<a href="https://colab.research.google.com/github/MichaelPaul03/OOP-58002/blob/main/Operations_and_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10>9)
print(10<9)

True
False

In [ ]:
a = 7
b = 6

print(10>9)
print(10<9)
print(a>b)

True
False
True

bool() function

In [ ]:
print(bool("Michael"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [ ]:
def my_Function():
  return True

print(my_Function())

True

In [ ]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [ ]:
print(a==b)
print(a<b)

False
False

Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3)
print(10**2)

15
5
3.3333333333333335
50
0
3
100

Bitwise Operators

In [ ]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [ ]:
h = True
l = False
h and l
h or l
not (h or l)

False

Application 2

#Python Assignment Operators

In [ ]:
x= 10

print(10+3)
print(10-3)
print(10/3)
print(10*3)
print(10%3)

13
7
3.3333333333333335
30
1

Identity Operators

In [ ]:
h is l
h is not l

True

#Control Structure

If statement

In [ ]:
if print(a<b):
  print("a is greater than b")

False

Short Hand if statement

In [ ]:
if print(a==b): print("a is equal to b")

False

Short Hand If...else satement

In [ ]:
a = 10
b = 9
print("a is greater than b")if (a<b) else ("b is greater than a")

'b is greater than a'

And

In [ ]:
if a and b:
  print("Yes")

Yes

Or

In [ ]:
if a<b or b==b:
  print("Both condition is True")

Both condition is True

Nested If

In [ ]:
x = 31
if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
  if x>30:
    print("and also above 30")
    if x>40:
      print("and also above 40")
    else:
      print("but not above 40")

x is above 10
and also above 20
and also above 30
but not above 40

Loop Statement

For Loop

In [ ]:
week = ["Sunday, Monday, Tuesday, Wednesday"]

for x in week:
  print(x)

Sunday, Monday, Tuesday, Wednesday

The break statement

In [ ]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday, Monday, Tuesday, Wednesday

In [ ]:
#to display Sunday to Wednesday using break loop
for x in week:
  if x=="Wednesday":
    break
print(x)

Sunday, Monday, Tuesday, Wednesday

While statement

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 3 - Create a python program that display 3

In [ ]:
i = 1
while i<6:
  if i==3:
    break
  i+=1
print(i)

3